Strings/GroupAnagrams.playground/contents.xcplayground
Strings/GroupAnagrams.playground/playground.xcworkspace/contents.xcworkspacedata
Strings/GroupAnagrams.playground/playground.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
